venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.tmp
*.swp
.DS_Store

.idea/
.vscode/
*.code-workspace

.git/
.gitignore

build/
dist/
*.egg-info/

.coverage
.pytest_cache/
.coverage.*

./postgres_data/
./rabbitmq_data/

node_modules/